<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Shabda</title>

    <link rel="manifest" href="/assets/shabda.webmanifest">
    <link rel="icon" type="image/svg+xml" href="/assets/favicon.svg">
    <link rel="icon" type="image/png" href="/assets/favicon.png">
    <link rel="preload" href="/assets/infinity.svg" as="image">
    <link rel="preload" href="/assets/clipboard.png" as="image">
    <link rel="stylesheet" href="/assets/shabda.css" />
</head>

<body>
    <script src="/assets/mithril.min.js"></script>
    <script src="/assets/shabda.js"></script>
</body>

</html>